// -------------------------------
// - VARIABLES
// --------------------------------

//pallette
$main-color: #888;
$alt-color: #555;
$light-color: #e6e6e6;
$dark-color: #0b0b16;

$brand-color: #4D81C2 !default;

//fonts
$main-font-family: din-regular, sans-serif !default;
$main-font-size: 16px !default;
$main-font-color: $main-color !default;

$light-font-family: din-light, sans-serif !default;

$bold-font-family: din-bold, sans-serif !default;

//typography
$h1-size: 36px !default;
$h2-size: 30px !default;
$h3-size: 24px !default;
$h4-size: 20px !default;
$h5-size: 16px !default;
$h6-size: 14px !default;

//assets
$img-path: "../img/" !default;

//breakpoints
$breakpoint-lg: 1200px !default;
$breakpoint-md: 992px !default;
$breakpoint-sm: 768px !default;
$breakpoint-xs: 767px !default;

$breakpoint-ex: 480px !default;

//
// GENERIC
//

//base
$base-unit: 12px;
$base-border: 1px solid #ccc;
$base-box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.75);

//header
$header-img-height: 140px;
$header-img-width: 140px;

//footer
$footer-img-height: $base-unit * 3;
$footer-total-padding: $base-unit * 2;
$footer-total-height: $footer-img-height + $footer-total-padding;



